<div class="sortBackground">
	<h1 id="customHeaderTitle">&nbsp;</h1>
	<p id="customHeaderDescription">&nbsp;</p>
	<table class="sortPopup">
		<tr>
			<td class="customSortContent">							
				<ul id="customSortList" class="list">
					<li id="customSortListItem">
						<div id="customSortListInnerItem">&nbsp;</div>
					</li>
				</ul>
			</td>
			<td class="customSortAccessContent">							
				<ul id="customSortAccessList" class="list">
					<li id="customSortAccessListItem">
						<div id="customSortAccessListInnerItem">&nbsp;</div>
					</li>
				</ul>
			</td>			
		</tr>
	</table>
	<table id="customButtonContainer">
		<tr>
			<td id="customButtonRedText">&nbsp;</td>
			<td id="customButtonGreenText">&nbsp;</td>
			<td id="customButtonYellowText">&nbsp;</td>
			<td id="customButtonBlueText">&nbsp;</td>
		</tr>
	</table>
	<div id="customExitLabel">&nbsp;</div>
</div>