<div class="overlay">
	<table class="sortPopup">
		<tr>
			<td class=sortPopupContent>
			<h1 id="okCancelTitle">&nbsp;</h1>
			<p id="okCancelDescription">&nbsp;</p>
			<ul id="okCancelList" class="list">
				<li id="okCancelListItem">
				<div id="okCancelListInnerItem">&nbsp;</div>
				</li>
			</ul>
			<div>
				<img id="popupButtonRed"></img>
				<img id="popupButtonGreen"></img>
				<img id="popupButtonYellow"></img>
				<img id="popupButtonBlue" ></img>
			</div>
			</td>			
		</tr>
	</table>
</div>