<div class="sortBackground">
<table class="sortPopup">
    <tr>
        <td class="popupContent">
            <h1 id="okCancelTitle">&nbsp;</h1>
            <p id="okCancelDescription">&nbsp;</p>
            <ul id="okCancelList" class="list">
                <li id="okCancelListItem">
                    <div id="okCancelListInnerItem">&nbsp;</div>
                </li>
            </ul>
        </td>
        <td class="popupRightEdge"/>
    </tr>
    <tr>
        <td class="popupBottomEdge"/>
        <td class="popupCorner"/>
    </tr>
</table>
</div>