#am_ucom_iptv_channel_sort_code_SelectSortPopup .sortBackground {
	background-image: url(images/sortpopup.jpg);
}

#am_ucom_iptv_channel_sort_code_SelectSortPopup h1 {
	font-size: 26px;
	position: absolute;
	top: 95px;
	width: 150px;
	color: #fff;
	left: 261px;
}

#am_ucom_iptv_channel_sort_code_SelectSortPopup p {
	position: absolute;
	top: 175px;
	color: #46DC46;
	left: 261px;
}

#am_ucom_iptv_channel_sort_code_SelectSortPopup ul {
    left: 261px;
    padding-top: 5px;
    position: absolute;
    top: 221px;
    width: 195px;
}

#am_ucom_iptv_channel_sort_code_SelectSortPopup li {
	height: 34px;
	color: #fff;
}
#am_ucom_iptv_channel_sort_code_SelectSortPopup li.selected {
	color: #000;
}
.sortBackground {
	position: absolute;
	top: 0;
	left: 0;
	width: 720px;
	height: 576px;
	overflow: hidden;
	margin-top: 0;
}

.sortPopup {
	border-spacing: 0;
}

.sortPopupContent {
	padding: 12px 5px 4px 11px;
}

#buttonContainer {
    height: 17px;
    left: 258px;
    position: absolute;
    top: 402px;
    width: 210px;
}

#buttonContainer td {
	background-position: center center;
	text-align: center;
	font-size: 10pt;
	color: #fff;
}

.popupButtonRed {
	background-image: url(images/red.png);
	background-repeat: no-repeat;
}

.popupButtonGreen {
	background-image: url(images/green.png);
	background-repeat: no-repeat;
}

.popupButtonYellow {
	background-image: url(images/yellow.png);
	background-repeat: no-repeat;
}

.popupButtonBlue {
	background-image: url(images/blue.png);
	background-repeat: no-repeat;
}

.popupButtonDisable {
	background-image: url(images/disable.png);
	background-repeat: no-repeat;
}

#am_ucom_iptv_channel_sort_code_GenreSort .sortBackground {
	background-image: url(images/genre.jpg);
}

#am_ucom_iptv_channel_sort_code_GenreSort .sortPopup {
	border-spacing: 0;
	left: 223px;
	position: absolute;
	top: 113px;
	width: 271px;
}
#am_ucom_iptv_channel_sort_code_GenreSort li.selected {
    color: black;
}
#am_ucom_iptv_channel_sort_code_GenreSort li {
    color: white;
}
#genreButtonContainer {
	color: white;
	font-weight: bold;
	height: 17px;
	left: 185px;
	position: absolute;
	text-align: center;
	top: 452px;
	width: 340px;
}

#genreButtonContainer td {
	font-size: 12pt;
	padding-top: 20px;
	width: 10%;
}

#genereHeaderTitle {
	color: white;
	height: 17px;
	left: 205px;
	position: absolute;
	top: 25px;
	width: 210px;
}

#genereHeaderDescription {
	color: white;
	height: 17px;
	left: 214px;
	position: absolute;
	top: 85px;
	width: 210px;
}

.sortGenreContent div {
	height: 25px;
	margin-top: 8px;
	background-repeat: no-repeat;
	background-position: right;
}

.publicChannels {
	background-image: url(images/genre/icon_publicchannels.gif);
}

.musicChannels {
	background-image: url(images/genre/icon_musicchannels.gif);
}

.entertainmentChannels {
	background-image: url(images/genre/icon_entertainchannels.gif);
}

.educationalChannels {
	background-image: url(images/genre/icon_educchannels.gif);
}

.kidsChannels {
	background-image: url(images/genre/icon_kidschannels.gif);
}

.newsChannels {
	background-image: url(images/genre/icon_newschannels.gif);
}

.sportsChannels {
	background-image: url(images/genre/icon_sportchannels.gif);
}

.movieChannels {
	background-image: url(images/genre/icon_moviechannels.gif);
}

.adultChannels {
	background-image: url(images/genre/icon_movieadultchannels.gif);
}

#genreExitLabel {
	color: white;
	font-weight: bold;
	left: 421px;
	position: absolute;
	top: 519px;
	width: 210px;
}

#am_ucom_iptv_channel_sort_code_CustomAndAccessSort {
	color: white;
}
#am_ucom_iptv_channel_sort_code_CustomAndAccessSort .sortBackground {
	background-image: url(images/custom.jpg);
}
#customHeaderTitle{
    color: white;
    font-weight: bold;
    left: 86px;
    position: absolute;
    top: 20px;
}
#customChannelsLabel{
    color: white;
    font-weight: bold;
    left: 88px;
    position: absolute;
    top: 93px;
}
#customAccessTypeLabel{
    color: white;
    font-weight: bold;
    left: 385px;
    position: absolute;
    top: 93px;
}
#customButtonContainer {
    color: white;
    font-weight: bold;
    height: 17px;
    left: 60px;
    position: absolute;
    text-align: center;
    top: 473px;
    width: 340px;
}

#customButtonContainer td {
	font-size: 12pt;
	padding-top: 20px;
	width: 10%;
}

#customExitLabel{
    color: white;
    font-weight: bold;
    left: 586px;
    position: absolute;
    top: 498px;
}

#customOkLabel{
    color: white;
    font-weight: bold;
    left: 553px;
    position: absolute;
    top: 458px;
}
#customNavigateLabel{
    color: white;
    font-weight: bold;
    left: 445px;
    position: absolute;
    top: 458px;
}
#am_ucom_iptv_channel_sort_code_CustomAndAccessSort li {
    height: 24px;
    margin: 9px;
    width: 267px;
}
#am_ucom_iptv_channel_sort_code_CustomAndAccessSort li.selected {
    color: black;
}
.sortPopup .customSortContent{
    border-spacing: 0;
    left: 60px;
    position: absolute;
    top: 113px;
}
.sortPopup .customSortAccessContent{
    border-spacing: 0;
    left: 360px;
    position: absolute;
    top: 113px;
}