<div class="sortBackground">
	<table class="sortPopup">
		<tr>
			<td class=sortPopupContent>
			<h1 id="okCancelTitle">&nbsp;</h1>
			<p id="okCancelDescription">&nbsp;</p>
			<ul id="okCancelList" class="list">
				<li id="okCancelListItem">
				<div id="okCancelListInnerItem">&nbsp;</div>
				</li>
			</ul>
			</td>
		</tr>
	</table>
	<table id="genreButtonContainer">
		<tr>
			<td id="popupButtonRedText">&nbsp;</td>
			<td id="popupButtonGreenText">&nbsp;</td>
			<td id="popupButtonYellowText">&nbsp;</td>
			<td id="popupButtonBlueText" style="color: #46DC46;">&nbsp;</td>
		</tr>
	</table>
</div>