<div class="sortBackground">
	<h1 id="genereHeaderTitle">&nbsp;</h1>
	<p id="genereHeaderDescription">&nbsp;</p>
	<table class="sortPopup">
		<tr>
			<td class=sortGenreContent>							
				<ul id="okCancelList" class="list">
					<li id="okCancelListItem">
						<div id="okCancelListInnerItem">&nbsp;</div>
					</li>
				</ul>
			</td>
		</tr>
	</table>
	<table id="genreButtonContainer">
		<tr>
			<td id="genreButtonRedText">&nbsp;</td>
			<td id="genreButtonGreenText">&nbsp;</td>
			<td id="genreButtonYellowText">&nbsp;</td>
			<td id="genreButtonBlueText">&nbsp;</td>
		</tr>
	</table>
</div>