<div class="sortBackground">
	<h1 id="okCancelTitle">&nbsp;</h1>
	<p id="okCancelDescription">&nbsp;</p>
	<ul id="okCancelList" class="list">
		<li id="okCancelListItem">
		<div id="okCancelListInnerItem">&nbsp;</div>
		</li>
	</ul>
	<table id="buttonContainer">
		<tr>
			<td id="popupButtonRed">&nbsp;</td>
			<td id="popupButtonGreen">&nbsp;</td>
			<td id="popupButtonYellow">&nbsp;</td>
			<td id="popupButtonBlue" class="popupButtonBlue">&nbsp;</td>
		</tr>
		<tr>
			<td id="popupButtonRedText">&nbsp;</td>
			<td id="popupButtonGreenText">&nbsp;</td>
			<td id="popupButtonYellowText">&nbsp;</td>
			<td id="popupButtonBlueText" style="color: #46DC46;">&nbsp;</td>
		</tr>
	</table>
</div>