#am_ucom_iptv_channelsort_code_SelectSortPopup .sortBackground {
	background-image: url(images/sortpopup.jpg);
}

#am_ucom_iptv_channelsort_code_SelectSortPopup h1 {
	font-size: 26px;
	position: absolute;
	top: 95px;
	width: 200px;
	color: #fff;
}

#am_ucom_iptv_channelsort_code_SelectSortPopup p {
	position: absolute;
	top: 175px;
	color: #46DC46;
}

#am_ucom_iptv_channelsort_code_SelectSortPopup ul {
	position: absolute;
	top: 225px;
	width: 195px;
}

#am_ucom_iptv_channelsort_code_SelectSortPopup li {
	height: 34px;
	color: #fff;
}

#am_ucom_iptv_channelsort_code_SelectSortPopup .popupContent>ul {
	border-top: 2px solid #088c08;
	padding-top: 5px;
	clear: both;
}

#am_ucom_iptv_channelsort_code_SelectSortPopup .view {
	width: 100%;
	height: 100%;
	display: table;
	position: absolute;
	background-image: none;
}

#am_ucom_iptv_channelsort_code_SelectSortPopup .popupContent {
	width: 200px;
}

.sortBackground {
	position: absolute;
	top: 0;
	left: 0;
	width: 720px;
	height: 576px;
	overflow: hidden;
	margin-top: 0;
}

.sortPopup {
	border-spacing: 0;
	left: 248px;
	position: absolute;
	top: 105px;
	width: 217px;
}

.sortPopupContent {
	padding: 12px 5px 4px 11px;
}

#buttonContainer {
	height: 17px;
	position: absolute;
	top: 402px;
	width: 210px;
}

#buttonContainer td {
	background-position: center center;
	text-align: center;
	font-size: 10pt;
	color: #fff;
}

.popupButtonRed {
	background-image: url(images/red.png);
	background-repeat: no-repeat;
	color: 
}

.popupButtonGreen {
	background-image: url(images/green.png);
	background-repeat: no-repeat;
}

.popupButtonYellow {
	background-image: url(images/yellow.png);
	background-repeat: no-repeat;
}

.popupButtonBlue {
	background-image: url(images/blue.png);
	background-repeat: no-repeat;
}

.popupButtonDisable {
	background-image: url(images/disable.png);
	background-repeat: no-repeat;
}

#am_ucom_iptv_channelsort_code_GenreSort .sortBackground {
	background-image: url(images/genre.jpg);
}

#am_ucom_iptv_channelsort_code_GenreSort .sortPopup {
    background-color: black;
    border-spacing: 0;
    left: 207px;
    position: absolute;
    top: 80px;
    width: 292px;
}
#genreButtonContainer{
    height: 17px;
    left: 185px;
    position: absolute;
    top: 452px;
    width: 210px;
}

#genreButtonContainer td{
    padding: 22px;
}