#am_ucom_iptv_channelsort_code_SelectSortPopup .sortBackground {
	background-image: url(images/sortpopup.jpg);
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

#am_ucom_iptv_channelsort_code_SelectSortPopup h1 {

}

#am_ucom_iptv_channelsort_code_SelectSortPopup .popupContent>ul {
	border-top: 2px solid #088c08;
	padding-top: 5px;
	clear: both;
}

#am_ucom_iptv_channelsort_code_SelectSortPopup .view {
	width: 100%;
	height: 100%;
	display: table;
	position: absolute;
	background-image: none;
}

#am_ucom_iptv_channelsort_code_SelectSortPopup .popupContent {
	width: 200px;
}

.sortBackground {
	position: absolute;
	top: 0;
	left: 0;
	width: 720px;
	height: 576px;
	overflow: hidden;
	margin-top: 0;
}

.sortPopup {
    border-spacing: 0;
    margin-left: 251px;
    position: absolute;
    top: 105px;
    width: 215px;
}

.sortPopupContent {
	padding: 12px 5px 4px 11px;
}
#buttonContainer{
    height: 15%;
    position: relative;
    top: 40px;
    width: 100%;
}
#buttonContainer td{
    height: 10%;
    width: 15%;
}
.popupButtonRed {
	background-image: url(images/red.png);
	background-repeat: no-repeat;
}

.popupButtonGreen {
	background-image: url(images/green.png);
	background-repeat: no-repeat;
}

.popupButtonYellow {
	background-image: url(images/yellow.png);
	background-repeat: no-repeat;
}

.popupButtonBlue {
	background-image: url(images/blue.png);
	background-repeat: no-repeat;
}

.popupButtonDisable{
	background-image: url(images/disable.png);
	background-repeat: no-repeat;
}